body{
    background-color: #dde4ae;
}

h1{
    text-align: center;
}

button{
    height: 45px;
    width: 100px;
    background: #193b32;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #dde4ae;
    font-weight: 600;
}

button a{
    color: #dde4ae;
}
